.ant-layout-footer{
  padding: 18px 50px;
}
.ant-btn+.ant-btn{
  margin-left: 10px;
}
.ant-table-title{
  display: flex;
  padding: 4px 4px 10px 0;
  justify-content: flex-start;
}
.ant-layout-header{
  height: 50px;
  line-height: 50px;
  background: rgb(255, 255, 255);
  padding: 0px 0px 0px 16px;
  text-align: left;
}
.ant-layout-content{
  margin: 0px 16px;
}
.ant-breadcrumb{
  margin: 10px 0px;
    text-align: left;
}